h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #333;
}

nav {
  justify-content: center;
}

nav a {
  font-size: 20px;
  display:flex;
  align-items: center;
  gap: 5px;
}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
  flex-direction: column;
  
}

.list a {
  color: rgb(29, 169, 43);
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
}

.list a:hover {
  color:rgb(31, 161, 161);
  transform: scale(1.1);
}